* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
    color: white;
}

body {
    width: 100%;
    background-color: black;
}

h1 {
    font-size: 10vh;
}

.score {
    font-size: 2.5vh;
}

.start-btn {
    font-size: 2.5vh;
}